<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image" />

            <!-- solution -->
            <a v-bind:href="url">Heekyung's Github</a>
            <!-- solution -->
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <!-- if in stock is true, show the first P tag -->
            <!-- Otherwise or v-else, show the second P tag -->
            <!-- Don't need to pair it with v-else -->
            <!-- Don't need a fallback element wth v-else beneath it. -->
            <!-- <p v-if="inStock">In Stock</p> -->
            <!-- <p v-else>Out of Stock</p> -->

            <!-- if inventory is greater than 10, show the In Stock -->
            <p v-if="inventory>10">In Stock</p>
            <!-- if inventory is greater than 0 and less than or equal to 10, show the Almost sold out! -->
            <p v-else-if="inventory <=10&&inventory>0">Almost sold out!</p>
            <!-- if inventory is zero, default to the final level of v-else-->
            <p v-else>Out of Stock</p>

            <!-- solution -->
            <p v-if="onSale">On Sale!</p>
            <!-- solution -->

            <!-- when v-show returns true, it displays on the screen, when v-show returns false, it displays none. it's just like display:none and on (toggling off) -->
            <!-- <p v-show="inStock">In Stock</p> -->

            <ul>
              <!-- print out each detail or each element from the details array-->
              <li v-for="detail in details">{{detail}}</li>
            </ul>

            <!-- solution -->
            <ul>
              <li v-for="(size,index) in sizes" :key="index">{{size}}</li>
            </ul>
            <!-- solution -->

            <!-- <div v-for="products in variants">{{products}}</div> -->
            <!-- <div v-for="products in variants">{{products.id}}</div> -->
            <!-- key attribute and set that equal to products.id -->
            <!-- v-bind:key -> This gives each DOM element a unique key so that Vue can essentially grasp onto the element and not lose track of it as things update and change within your app.-->
            <!-- This provides you some performance improvements and also later down the line-->
            <!-- if you're doing something like animating your elements, you'll find that the key attribute is really helpful with things like that-->
            <div v-for="variant in variants" :key="variant.id">
              {{variant.color}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
